@model IEnumerable<Tarea4.Models.RevisionTecnicaModel>

@{
    ViewData["Title"] = "Revisiones Técnicas";
}

<h1>Revisiones Técnicas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                Vehículo
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FechaRevision)
            </td>
            <td>
                @Html.DisplayFor(model => item.Resultado)
            </td>
            <td>
                @Html.DisplayFor(model => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Vehiculo.Placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
